[toolchain]
package_manager = "npm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
# shadowlend_program = "AgswW8vXd2CnG269md9rP8vXYGC3qohqshc9qqz43Tui"
shadowlend_program = "FpHChpheLnvPS9Qd7DyXwSrvSc3KCELkx4BC5MTE8T7k"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "https://api.devnet.solana.com"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[test.validator]
bind_address = "0.0.0.0"
ledger = ".anchor/test-ledger"
rpc_port = 8899
warp_slot = 200
